<div class="panel panel-primary" >
  
				<div class="card">
                <h3 style="text-align:center">Aplicação desenvolvida no Hackaton Social 2017.</h3>
				</br>
					<h4 style="text-align:center">Evento contou com apoio de diversas empresas do ramo de tecnologia juntamente com Prefeitura de Franca.</h4>
                <p><br><strong style="font-size:20px; margin-left:15px">Desenvolvedores:</strong></p>
								<p style="margin-left:20px; font-size:18px"> 
								Gabriel Souza<br>
                				 Bruno Brancalhão<br>
								 Marcelo Veronez<br>
                				 Guilherme Teixeira<br>
								 Gabriel Martins<br>
								</p>

								 <img src="/img/unifacef.jpg" style="width:284px;height:79px;" >
				</div>
    </div>
</div>